.vscode
loaded_resources
target
/c/GTV_C_impl_standalone/.vs/GTV_C_impl_standalone
/c/GTV_C_impl_standalone/GTV_C_im.fab7df04/x64/Debug
/c/GTV_C_impl_standalone/GTV_C_impl_standalone.vcxproj
/c/GTV_C_impl_standalone/GTV_C_impl_standalone.vcxproj.filters
/c/GTV_C_impl_standalone/GTV_C_impl_standalone.vcxproj.user
/c/GTV_C_impl_standalone/x64/Debug
